body{
    background-color: rgb(29, 136, 91);
}

#Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    Gap: 20px;
}

#Clicky{
    display: flex;
    gap: 5px;
    margin-top: 90px;
}

#RefreshImg{
    cursor: pointer;
}

#TextStyle{
    color:white;
    font-size: 80px;
}